   <nav class="d-flex flex-row justify-content-between">
        <a href="/" class="d-flex justify-content-start mx-4 my-3 text-decoration-none link-dark">
            <h4 class="text-center"><img src="./images/faces-logo.png" alt="Freud logo" class="img-thumbnail logo">
            Talk</h4>
        </a>

        <form id="logout-form" action="/logout" method="POST">
            <button class="mx-4 my-3 btn btn-outline-secondary">Logout</button>
        </form>
    </nav>