{{> navbar }}
<div class="container">
  <div id="signup">
    <h2 class="my-4 text-center">Sign up</h2>
    <form action="/signup" method="POST" class="form-inline justify-content-center flex-column flex-md-row">
      <div class="from-group my-2">
        <label for="input-username" class="mx-2"> Username </label>
        <input type="text" name="username" placeholder="Your username" class="form-control" />
      </div>

      <div class="from-group my-2">
        <label for="role" class="mx-2"> Role:</label>
        <select class="form-control" name="role">
          <option value="admin">Admin</option>
          <option value="prof">Professional</option>
        </select>
      </div>

      <div class="from-group my-2">
        <label for="input-email" class="mx-2"> Email </label>
        <input type="email" id="input-email" name="email" placeholder="Your email" class="form-control" />
      </div>

      <div class="from-group my-2">
        <label for="input-password" class="mx-2"> Password </label>
        <input type="password" name="password" id="input-password" placeholder="********" class="form-control"/>
      </div>

      <div class="form-group mx-2 my-4">
        <button type="submit" class="btn btn-success col-12">Create account</button>
      </div>

      {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
      {{/if}}
    </form>
  </div>
</div>
