 <nav>
    <ul>
      <li id="to-left">
        <p><a href="/"> Users - demo </a></p>
      </li>
      <li id="to-right">
        <a href="/signup">Signup</a> <span> | </span>
        <a href="/login">Login</a>
      </li>
    </ul>
  </nav>
  <h1>Yo! you're in the hoooome page!</h1>
<a href="/login">Go to Log in</a>