<div class="background-img">
  
    <h1 class="text-center py-5">Welcome to Talk!</h1>
    <div class="d-flex justify-content-center align-items-center flex-column flex-md-row my-5">
      <a href="/signup" class="col-5 btn btn-light mx-1 my-1">Sign up</a>
      <a href="/login" class="col-5 btn btn-primary mx-1 my-1">Log in</a>
    </div>
    <div class="d-flex justify-content-end big-logo mx-5">
      <img src="./images/faces-logo.png" alt="Talk logo" class="img-fluid rounded-3">
    </div>
    
 
</div>
 