{{> navbar }}
<form action="" method="POST"> {{!-- NEW action ????--}}

    <label for="name">Name</label>
    <input id="name" type="name" name="name" />

    <label for="firstSurname">First Surname</label>
    <input id="firstSurname" type="firstSurname" name="firstSurname" />

    <label for="secondSurname">Second Surname</label>
    <input id="secondSurname" type="secondSurname" name="secondSurname" />

    <label for="email">Email</label>
    <input id="email" type="email" name="email" />

    <label for="phone">Phone number</label>
    <input id="phone" type="phone" name="phone" />

    <label for="address">Address</label>
    <input id="address" type="address" name="address" />

    <label for="check">New Patient</label>
    <input id="check" type="checkbox" name="newPatient" checked="checked"/>

    <label for="professional-select"> Professional:
      <select name="professional">
        <option disable selected value=""></option>
        {{#each professional}}
          <option value="{{this._id}}"> {{this.username}} </option>
        {{/each}}
      </select>
    </label>

    <button type="submit">Add</button>
</form>

{{!-- <div>
  {{#if message}}
    <p><b>{{message}}</b></p>
  {{/if}}
</div> --}}