{{> navbar }}

<div class="container">
    <h2 class="my-4 text-center">New Patient</h2>
    <form action="" method="POST" class="form-inline justify-content-center flex-column flex-md-row">

        <div class="form-group my-2">
            <label class="mx-2"> Name: </label>
            <input type="text" name="name" class="form-control" />
        </div>
        
        <div class="form-group my-2">
            <label class="mx-2">First surname:</label>
            <input type="text" name="firstSurname" class="form-control"/>
        </div>

        <div class="form-group my-2">
            <label class="mx-2">Second surname:</label>
            <input type="text" name="secondSurname" class="form-control"/>
        </div>

        <div class="form-group my-2">
            <label class="mx-2">Email:</label>
            <input type="email" name="email" class="form-control"/>
        </div>

        <div class="form-group my-2">
            <label class="mx-2">Phone:</label>
            <input type="number" name="phone" class="form-control"/>
        </div>

        <div class="form-group my-2">
            <label class="mx-2">Address:</label>
            <textarea name="address" cols="30" rows="4" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label for="professional" class="my-2"> Professional:</label>
                <select name="professional" class="form-control">
                    <option disable selected value="">
                    {{#each professional}}
                        <option value="{{this._id}}"> {{this.username}} </option>
                    {{/each}}
                </select>
        </div>

          
        <div class="form-check my-2">
            <label class="mx-2">New Patient:</label>
            <input type="checkbox" name="newPatient"  checked="{{patient.newPatient}}"/>
        </div>

        <div class="form-group mx-2 my-4">
            <button class="btn btn-success col-12">Add</button>
        </div>
    </form>
    
    <div class="form-group mx-2 my-4">
            <a href="/patients" class="btn btn-secondary col-12">Discart</a>
    </div>
</div>