<form action="" method="POST">

    <label for="name">Name</label>
    <input id="name" type="name" name="name" />

    <label for="firstSurname">First Surname</label>
    <input id="firstSurname" type="firstSurname" name="firstSurname" />

    <label for="secondSurname">Second Surname</label>
    <input id="secondSurname" type="secondSurname" name="secondSurname" />

    <label for="email">Email</label>
    <input id="email" type="email" name="email" />

    <label for="phone">Phone number</label>
    <input id="phone" type="phone" name="phone" />

    <label for="address">Address</label>
    <input id="address" type="address" name="address" />

    <label for="first">First visit</label>
    <input id="first" type="first" name="first" />

    <button type="submit">Add</button>
</form>